/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --bg-color: #121212;
  --bg-cards: #1e1e1e;
  --bg-lift-spaces: #2d2d2d;
  --main-font-color: #e1e1e1;
  --second-font-color: #8b949e;
  --third-font-color: #f4f6f9;
  --special-parts-color: #007bff;
}

/* START DEVELOPING FROM HERE: */

.container {
  background-color: lightblue;
  min-height: 100vh;
  display: grid;
  grid-template: 120px 1fr / 220px 3fr 220px;
}

.search-container {
  background-color: lightcoral;
  grid-column: 2 /4;
}

.sidebar {
  background-color: lightgoldenrodyellow;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.main-content {
  background-color: lightgreen;
  grid-column: 2 / 3;
}

.article {
  background-color: lightseagreen;
  grid-column: 3 / 4;
}
